img {
    width: 100%;
    height: auto;
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding: 0; 
    margin: 0;  
}


h1 {
    text-align: center;
    
}

ul.list-group {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
}

ul.list-group li {
    text-align: center; 
}

html { 
    background-color: white;
}

footer{
    background-color: rgb(99, 99, 99);
    text-align: center;
    color: aliceblue;
    padding: 20px 10px;
    width: auto;
}